[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c "source /opt/ros/noetic/setup.bash; source /home/ayushg/htn_ws/devel/setup.bash; rosrun rviz rviz -d /home/ayushg/htn_ws/src/smart_heal/rviz_config.rviz"
Icon=/home/ayushg/htn_ws/src/smart_heal/smart_heal.jpeg
Name=SmartHeal
